{% extends 'base.html.twig' %}

{% block title %}Last Call{% endblock %}

{% block body %}
    <nav id="menuJeu">
        <ul>
            <li id="profil" class="bangers-regular nav-item"><img src="{{ asset('img/person.png')}}"/></li>
            <li id="book" class="bangers-regular nav-item"><img src="{{ asset('img/book.png')}}"/></li>
        </ul>
    </nav>

    <div class="glitch-wrapper" id="game-title">
        <span class="glitch bangers-regular" data-glitch="Tableau de bord">Tableau de bord</span>
    </div>

    <div class="container container-home">
        <h1>Informations récoltées</h1>
        {% for info in informationUtilisateur %} 
            <div class="col-4" > 
                <div class="card" style="width: 16rem; align-items: center; color:black; padding: 20px; margin: 20px;">
                    <h4>{{ info.titre }}</h4>
                    <p>{{ info.description }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
