{% extends 'index.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}
    <nav id="menuJeu">
        <ul>
            <li id="profil" class="bangers-regular nav-item"><img src="{{ asset('img/person.png')}}"/></li>
            <li id="book" class="bangers-regular nav-item"><img src="{{ asset('img/book.png')}}"/></li>
        </ul>
    </nav>
    
{% endblock %}
