{% extends 'index.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}
    <nav id="menuJeu">
        <ul>
            <li id="book" class="bangers-regular nav-item"><img src="{{ asset('img/book.png')}}"/></li>
            <li id="communaction" class="bangers-regular nav-item"><img src="{{ asset('img/smartphone.png')}}"/></li>
            <li id="secret" class="bangers-regular nav-item"><img src="{{ asset('img/puzzle.png')}}"/></li>
            <li id="profil" class="bangers-regular nav-item"><img src="{{ asset('img/person.png')}}"/></li>
        </ul>
    </nav>
    <div class="glitch-wrapper" id="game-title">
        <span class="glitch bangers-regular" data-glitch="Tableau de bord">Tableau de bord</span>
    </div>
    <div class="container container-tab">
        <div class="container-bg">
                <h1 id="h1-tab" class="bangers-regular">Survivants</h1>
                <div class="liste-survivants">
                    <div class="survivant">
                        <h3>nom</h3>
                        <p>Faim</p>
                        <p>Soif</p>
                        <p>Santé</p>
                    </div>
                    <div class="survivant">
                        <h3>nom</h3>
                        <p>Faim</p>
                        <p>Soif</p>
                        <p>Santé</p>
                    </div>
                </div>
            </div>
        <div class="container-bg">
            <div class="inner-container">
                <h1 id="h1-tab" class="bangers-regular">Actions</h1>
                <div class="actions">
                    <div class="action">
                        <span>Chercher de la nourriture</span>
                    </div>
                    <div class="action">
                        <span>Chercher de l'eau</span>
                    </div>
                    <div class="action">
                        <span>Chercher de l'équipement</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
