<div id="div-connexion" class="glassmorphism bangers-regular " style="display:none;">
  <form id="form-connexion" style="display:none;">
    <h1>Me connecter</h1>
    <div class="inputs">
      <input type="email" class="form-control mb-2" placeholder="Email" />
      <input type="password" class="form-control mb-2" placeholder="Mot de passe">
    </div>
    <p class="inscription">Vous n'avez pas de compte ? Créez en un ici</p>
    <div align="center">
      <button type="submit" class="btn btn-primary">Se connecter</button>
    </div>
  </form>
</div>