<div id="div-connexion" class="form bangers-regular " style="display:none;">
  <form id="form-connexion" style="display:none;">
    <h1>Me connecter</h1>
    <div class="inputs">
      <input type="email" class="form-control mb-2" placeholder="Email" />
      <input type="password" class="form-control mb-2" placeholder="Mot de passe">
    </div>
    <p style="font-size:20px">Je n'ai pas de compte, je veux <span id="redirectInscription">m'inscrire<span> !</p>
    <div align="center">
      <button type="submit" id="btnFormConnexion" class="btn btn-success">Connexion</button>
    </div>
  </form>
</div>