{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<nav id="menuAccueil">
    <ul>
        <li id="btnAccueil" class="bangers-regular nav-item" >Accueil</li>
        <li id="btnConnexion" class="bangers-regular nav-item">Connexion</li>
        <li id="btnInscription" class="bangers-regular nav-item">Inscription</li>
        <li id="btnReglement" class="bangers-regular nav-item">Règlement</li>
    </ul>
</nav>
<div class="div" id="header">
    <div class="glitch-wrapper" id="lastCallTitle">
        <div id="game-title" class="glitch bangers-regular" data-glitch="Stranded: 15 Days">Stranded: 15 Days</div>
    </div>
    {# <h3 class="sous-titre">Ce pourrait bien être votre dernier appel ..</h3>#}
    <h3 class="sous-titre">Survivrez-vous jusqu'au sauvetage ?</h3>
</div>
<div class="img-intro" >
    {% include 'connexion/index.html.twig' %}
    {% include 'inscription/index.html.twig' %}
</div>
<div class="container">
    <div id="reglement" class="container-home" style="display:none;">
        <p>Le but du jeu est de survivre 15 jours et de trouver le mot de passe codé que le mystérieux voyageur vous demande afin qu'il puisse vous secourir pour que vous puissiez sortir de ce Bunker dans lequel vous êtes depuis des années suite à l'apocalypse.</p>
    </div>
</div>
{% endblock %}
