{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block body %}
<nav id="menu">
    <ul>
        <li id="btnAccueil" class="bangers-regular nav-item" >Accueil</li>
        <li id="btnConnexion" class="bangers-regular nav-item">Connexion</li>
        <li id="btnInscription" class="bangers-regular nav-item">Inscription</li>
        <li id="btnReglement" class="bangers-regular nav-item">Règlement</li>
    </ul>
</nav>
<div class="div" id="header">
    <div class="glitch-wrapper" id="lastCallTitle">
        <div class="glitch bangers-regular" data-glitch="Last Call">Last Call</div>
    </div>
    <h3 class="sous-titre">Serez-vous prêt à affronter le danger ?</h3>
</div>
<div class="img-intro" >
    {% include 'connexion/index.html.twig' %}
    {% include 'inscription/index.html.twig' %}
</div>
{% endblock %}
