#game-title {
    margin: 20px;
}

#h1-tab {
    display: flex;
    justify-content: center; 
    text-align: center; 
    font-size: 50px;
    margin: 0;
    border-radius: 10px;
    padding: 10px;
}

#game-title span{
    text-shadow: 0px 2px 4px white;
}

 /* Tableau de bord */
 .container-bg {
    background-color: #222222;
    padding: 2vh 2vw;
    border-radius: 10px;
    /*min-height: 70vh;*/
    margin:2vw;
 }

 .inner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
 }

 .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2vw 6vw;
 }
  

.container-choix {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
}

.container-choix div {
    margin: 10px;
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 10px;
}

#choix-description {
    display: flex;
    justify-content: center;
    align-items: center;
}

.affichage-scenario {
    font-size: 20px;
}

.container-tab {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.survivant {
    margin: 10px;
    background-color: #fff;
    color: black;
    padding: 10px;
    border-radius: 10px;

    display: flex;
    flex-direction: row;
}

.action {
    margin: 10px;
    background-color: #fff;
    color: black;
    padding: 10px;
    border-radius: 10px;
    display: flex;
}

 /* =====> Tableau de bord <===== */

 .base-container-inventaire {
    align-items: center;
    justify-content: center;
 }
 
 .container-inventaire {
    background-color: #525B6650;
    padding: 2vh 2vw;
    border-radius: 10px;
 }

 .inner-container-inventaire {
    background-color:#4F5B6870;
    border-radius: 10px;
 }
 
 .inventaire-ressource div{
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .inventaire-ressource .row {
    margin: 20px;
    aspect-ratio: 1 / 1; /* Maintient un carré */
    background-color: #D9D9D9;
    border-radius: 10px;
 }

 .inventaire-equipement div{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
 }

 .inventaire-equipement .row {
    margin: 20px;
    aspect-ratio: 2 / 1; 
    background-color: #D9D9D9;
    border-radius: 10px;
    
 }

 .container-survivants {
    background-color: #4F5B6870;
    padding: 20px;
    border-radius: 10px;  
 }