<div id="div-inscription" class="glassmorphism bangers-regular " style="display:none;">
  <form id="form-inscription" style="display:none;">
    <h1>Inscription</h1>
    <div class="inputs">
      <input type="email" class="form-control mb-2" placeholder="Email" />
      <input type="email" class="form-control mb-2" placeholder="Email" />
      <input type="password" class="form-control mb-2" placeholder="Mot de passe">
    </div>
    <p class="inscription">Vous avez déjà un compte ? Créez en un ici</p>
    <div align="center">
      <button type="submit" class="btn btn-primary">S'inscrire</button>
    </div>
  </form>
</div>