{% extends 'base.html.twig' %}

{% block title %}Last Call{% endblock %}

{% block body %}

<div class="div" id="header">
    <div class="glitch-wrapper">
        <div class="glitch bangers-regular" data-glitch="Last Call">Last Call</div>
    </div>
    <h3 class="sous-titre">Serez-vous prêt à affronter le danger ?</h3>
</div>
<div class="acceuil"></div>
{% endblock %}
