<nav id="menu">
    <ul class="menu" >
        <li class="bangers-regular"><a href="{{ path('app_') }}" class="{{ app.request.get('_route') == 'app_' ? 'active' : '' }}" >Accueil</a></li>
        <li class="bangers-regular"><a href="{{ path('app_connexion') }}" class="{{ app.request.get('_route') == 'app_connexion' ? 'active' : '' }}">Connexion</a></li>
        <li class="bangers-regular"><a href="">Inscription</a></li>
        <li class="bangers-regular"><a href="">Règlement</a></li>
    </ul>
</nav>
